<ion-view view-title="Atualizar senha" align-title="left">
  <ion-content class="back-color padding">
    <div ng-controller="passwordUpdateCtrl">
      <form name="passwordForm">
        <br />
        <h1 class="text-center">Atualizar Senha</h1>
        <br />
        <div class="list padding">
          <label class="item item-input">
            <span class="input-label">Senha:</span>
            <input name="password" ng-model="data.password" type="password">
          </label>
          <label class="item item-input">
            <span class="input-label">Confirmação de senha:</span>
            <input name="passwordConfirm" ng-model="data.passwordConfirm" type="password">
          </label>
          <br /><br />
          <button ng-click="passwordUpdate(data)" class="bluedark-color button button-block button-positive">
            Atualizar <i class="ion-android-checkbox-outline"></i>
          </button>
      </div>
    </form>
    </div>
  </ion-content>
</ion-view>
