<ion-view view-title="Alteração de  usuário" align-title="left">
    <ion-content class="back-color padding">
      <div ng-controller="profileCtrl">
        <form name="updateUserForm" novalidate="novalidate">
          <br />
          <h1 class="text-center">Alteração de usuário</h1>
          <br />
          <div class="list padding">
            <label class="item item-input">
              <span class="input-label">Nome:</span>
              <input name="name" ng-model="data.name" placeholder={{name}} type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Email:</span>
              <input name="email" ng-model="data.email" placeholder={{email}} type="email">
            </label>
            <label class="item item-input">
              <span class="input-label">Telefone:</span>
              <input name="phone" ng-model="data.phone" placeholder={{phone}} type="tel">
            </label>
            <br />
            <h7>Para os campos em branco serão mantidos as informações.</h7>
            <br /><br />
            <button ng-click="updateUser(data)" class="bluedark-color button button-block button-positive">
              Atualizar <i class="ion-android-checkbox-outline"></i>
            </button>
            <div class="row">
             <div class="col text-center">
               <button ng-click="deleteUser()" class="button button-outline icon-right button-assertive">
                 Deletar Conta <i class="ion-close-round"></i>
               </button>
             </div>
          </div>
        </div>
      </form>
      </div>
    </ion-content>
</ion-view>
