<ion-view view-title="Localização" align-title="left">
</ion-view>

<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

  <ion-tab title="Home" class="bar-options" icon-on="icon ion-home" icon-off="ion-ios-filing-outline">
    <ion-view>
       <ion-content>
         <div ng-controller="locationCtrl">
           <form name="createLocation" novalidate="novalidate">
             <br />
             <h1 class="text-center">Novo Endereço</h1>
             <br />
             <div class="list padding">
               <label class="item item-input">
                 <span class="input-label">Cidade:
                   <span ng-show="createLocation.city.$error.required ||
                   createLocation.city.$pristine || createLocation.city.$invalid" class="error">*</span>
                  </span>
                 </span>
                 <input name="city" ng-model="data.city" type="text" required maxlength="40" ng-pattern="/^[\w -]*$/">
               </label>
               <label class="item item-input item-select">
                 <div class="input-label">
                   Estado:
                   <span ng-show="createLocation.state.$error.required ||
                   createLocation.state.$pristine || createLocation.state.$invalid" class="error">*</span>
                    </span>
                 </div>
                 <select name="state" ng-model="data.state" required>
                      <option ng-repeat="item in states" >{{item}}</option>
                 </select>
               </label>
               <label class="item item-input">
                 <span class="input-label">Bairro:
                   <span ng-show="createLocation.address.$invalid" class="error">*</span>
                 </span>
                 </span>
                 <input name="address" ng-model="data.address" type="text" maxlength="40" ng-pattern="/^[\w -]*$/">
               </label>
               <br /><br />
               <button ng-click="createNewLocation(data)" class="bluedark-color button button-block button-positive">
                 Cadastrar <i class="ion-android-checkbox-outline"></i>
               </button>
               <br />
           </div>
         </form>
         </div>
       </ion-content>
     </ion-view>
  </ion-tab>

  <ion-tab title="Settings" class="bar-options" icon-on="icon ion-home" icon-off="ion-ios-gear-outline">
    <ion-view>
       <ion-content>
         <div ng-controller="locationCtrl">
           <form name="updateLocation" novalidate="novalidate">
             <br />
             <h1 class="text-center">Alterar Endereços</h1>
             <br />
              <div class="col text-center">
               <button ng-click="getLocations()" class="button icon ion-refresh">
                  Carregar Localizações
                </button>
              </div>
              <br />
              <div class="list padding" ng-show="locationsArray.length > 0">
                <label  class="item item-input item-select">
                  <div class="input-label">
                    Localização:
                  </div>
                  <select name="key_locat" ng-model="data.key_locat" ng-change="locationSelected(data)">
                       <option ng-repeat="item in locationsArray">{{item}}</option>
                  </select>
                </label>
                <label class="item item-input">
                  <span class="input-label">Cidade:
                    <span ng-show="updateLocation.city.$error.required ||
                    updateLocation.city.$pristine || updateLocation.city.$invalid" class="error">*</span>
                   </span>
                  </span>
                  <input name="city" ng-model="data.city_locat" placeholder="{{city}}" type="text" required maxlength="40" ng-pattern="/^[\w -]*$/">
                </label>
                <label class="item item-input item-select">
                  <div class="input-label">
                    Estado:
                    <span ng-show="updateLocation.state.$error.required ||
                    updateLocation.state.$pristine || updateLocation.state.$invalid" class="error">*</span>
                     </span>
                  </div>
                  <select name="state" ng-model="data.state_locat" placeholder="{{state}}" required>
                       <option ng-repeat="item in states" >{{item}}</option>
                  </select>
                </label>
                <label class="item item-input">
                  <span class="input-label">Bairro:
                    <span ng-show="updateLocation.address.$invalid" class="error">*</span>
                  </span>
                  <input name="address" ng-model="data.address_locat" placeholder="{{address}}" type="text" maxlength="40" ng-pattern="/^[\w -]*$/">
                </label>
                <br /><br />
                <button ng-click="updateLocalization(data)" class="bluedark-color button button-block button-positive">
                  Cadastrar <i class="ion-android-checkbox-outline"></i>
                </button>
                <br />
              </div>
           </div>
          </form>
         </div>
       </ion-content>
     </ion-view>
  </ion-tab>

  <ion-tab title="Home" class="bar-options" icon-on="icon ion-home" icon-off="ion-ios-filing-outline">
    <ion-view>
       <ion-content>
         <div ng-controller="locationCtrl">
           <form name="updateLocation" novalidate="novalidate">
             <br />
             <h1 class="text-center">Excluir Localização</h1>
             <br />
              <div class="col text-center">
               <button ng-click="getLocations()" class="button icon ion-refresh">
                  Carregar Localizações
                </button>
              </div>
              <br />
              <div class="row">
                <div class="col">
                  <div class="list padding" ng-show="locationsArray.length > 0">
                    <label  class="item item-input item-select">
                      <div class="input-label">
                        Localização:
                      </div>
                      <select name="key_locat" ng-model="data.key_locat" ng-change="locationSelected(data)">
                           <option ng-repeat="item in locationsArray">{{item}}</option>
                      </select>
                    </label>
                    <div ng-show="city.length > 0 || address.length > 0 || state.length > 0" class="list card">
                       <span ng-show="city.length > 0" class="item item-icon-left">
                         <i class="ion-map"></i>
                          Cidade: {{city}}
                       </span>
                       <span ng-show="address.length > 0" class="item item-icon-left">
                         <i class="ion-map"></i>
                         Estado: {{state}}
                       </span>
                     <span ng-show="state.length > 0" class="item item-icon-left">
                       <i class="ion-ios-home"></i>
                       Bairro: {{address}}
                     </span>
                     </div>
                     <button ng-click="deleteLocation(data)" class="button button-full icon-right button-assertive">
                       Deletar localização <i class="ion-android-checkbox-outline"></i>
                     </button>
                   </div>
                 </div>
               </div>
              </div>
           </div>
          </form>
         </div>
       </ion-content>
     </ion-view>
  </ion-tab>
</ion-tabs>
