<ion-view view-title="Quarto" align-title="left">
</ion-view>

  <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <ion-tab href="#/navUser/room" title="Home" class="bar-options" icon-on="icon ion-home" icon-off="ion-ios-filing-outline">
      <ion-view>
         <ion-content>
           <div ng-controller="roomCtrl">
             <form name="roomForm" novalidate="novalidate">
               <br />
               <h1 class="text-center">Nova Quarto</h1>
               <br />
               <br />
                <div class="col text-center">
                 <button ng-click="getAllFkData()" class="button icon ion-refresh">
                    Carregar tudo
                  </button>
                </div>
                <br />
               <div class="list padding" ng-show="locationKeys.length > 0">
                 <label class="item item-input">
                   <span class="input-label">Titulo:
                     <span ng-show="roomForm.title.$error.required ||
                      roomForm.title.$pristine || roomForm.title.$invalid" class="error">*</span>
                      </span>
                    </span>
                   <input name="title" ng-model="data.title" type="text" maxlength="25" required ng-pattern="/^[\w -]*$/">
                 </label>
                 <label class="item item-input item-select">
                   <div class="input-label">
                     Localização:
                     <span ng-show="roomForm.locationKey.$error.required ||
                     roomForm.locationKey.$pristine || roomForm.locationKey.$invalid" class="error">*</span>
                      </span>
                   </div>
                   <select name="locationKey" ng-model="data.locationKey" required>
                        <option ng-repeat="item in locationKeys" >{{item}}</option>
                   </select>
                 </label>
                 <label class="item item-input item-select">
                   <div class="input-label">
                     Universidade:
                     <span ng-show="roomForm.universityKey.$error.required ||
                     roomForm.universityKey.$pristine || roomForm.universityKey.$invalid" class="error">*</span>
                      </span>
                   </div>
                   <select name="universityKey" ng-model="data.universityKey" required>
                        <option ng-repeat="item in universityKeys" >{{item}}</option>
                   </select>
                 </label>
                 <label class="item item-input item-select">
                   <div class="input-label">
                     República:
                   </div>
                   <select name="republicKey" ng-model="data.republicKey">
                        <option ng-repeat="item in republicKeys">{{item}}</option>
                   </select>
                 </label>
                 <label class="item item-input">
                   <span class="input-label">Descrição:
                     <span ng-show="roomForm.description.$error.required ||
                      roomForm.description.$pristine || roomForm.description.$invalid" class="error">*</span>
                      </span>
                   </span>
                   <input name="description" ng-model="data.description" type="text" maxlength="95" required ng-pattern="/^[\w -]*$/">
                 </label>
                 <br /><br />
                 <button ng-click="createRoom(data)" class="bluedark-color button button-block button-positive">
                   Cadastrar <i class="ion-android-checkbox-outline"></i>
                 </button>
                 <br />
             </div>
           </form>
           </div>
         </ion-content>
       </ion-view>
    </ion-tab>

    <ion-tab class="bar-options" icon-on="icon ion-home" icon-off="ion-ios-gear-outline">
      <ion-view>
         <ion-content>
           <div ng-controller="roomCtrl">
             <form name="roomForm" novalidate="novalidate">
               <br />
               <h1 class="text-center">Alterar Quarto</h1>
               <br />
               <br />
                <div class="col text-center">
                 <button ng-click="getRoomsByUser()" class="button icon ion-refresh">
                    Carregar Quarto
                  </button>
                </div>
                <br />
                <div class="list padding" ng-show="roomArray.length > 0">
                  <label  class="item item-input item-select" >
                    <div class="input-label">
                      Quartos:
                    </div>
                    <select name="selectTitle" ng-model="data.selectTitle" ng-change="roomSelected(data)">
                         <option ng-repeat="item in roomArray track by $index">{{item}}</option>
                    </select>
                  </label>
                  <label class="item item-input">
                    <span class="input-label">Title:
                      <span ng-show="roomForm.title.$invalid" class="error">*</span>
                    </span>
                    <input name="title" ng-model="data.title" placeholder="{{title}}" type="text" maxlength="25" ng-pattern="/^[\w -]*$/">
                  </label>
                  <label class="item item-input item-select">
                    <div class="input-label">
                      Localização:
                    </div>
                    <select ng-model="data.locationKey" ng-options="item for item in locationKeys">
                      <option value="">{{locationKey}}</option>
                    </select>
                  </label>
                  <label class="item item-input item-select">
                    <div class="input-label">
                      Universidade:
                    </div>
                    <select ng-model="data.universityKey" ng-options="item for item in universityKeys">
                      <option value="">{{universityKey}}</option>
                    </select>
                  </label>
                  <label class="item item-input item-select">
                    <div class="input-label">
                      República:
                    </div>
                    <select ng-model="data.republicKey" ng-options="item for item in republicKeys">
                      <option value="">{{republicKey}}</option>
                    </select>
                  </label>
                  <label class="item item-input">
                    <span class="input-label">Descrição:
                      <span ng-show="roomForm.description.$invalid" class="error">*</span>
                    </span>
                    <input name="description" ng-model="data.description" placeholder="{{description}}" type="text" maxlength="95" ng-pattern="/^[\w -]*$/">
                  </label>
                  <br /><br />
                  <button ng-click="updateRoom(data)" class="bluedark-color button button-block button-positive">
                    atualizar <i class="ion-android-checkbox-outline"></i>
                  </button>
                </div>
             </form>
           </div>
         </ion-content>
       </ion-view>
    </ion-tab>

    <ion-tab title="Settings" class="bar-options" icon-on="icon ion-home" icon-off="ion-ios-gear-outline">
      <ion-view>
         <ion-content>
           <div ng-controller="roomCtrl">
             <form name="removeRoomForm" novalidate="novalidate">
               <br />
               <h1 class="text-center">Remover Quarto</h1>
               <br />
               <br />
               <div class="col text-center">
                <button ng-click="getRoomsByUser()" class="button icon ion-refresh">
                   Carregar Quarto
                 </button>
               </div>
               <br />
               <div class="list padding" ng-show="roomArray.length > 0">
                 <label  class="item item-input item-select" >
                   <div class="input-label">
                     Quartos:
                   </div>
                   <select name="selectTitle" ng-model="data.selectTitle" ng-change="roomSelected(data)">
                        <option ng-repeat="item in roomArray track by $index">{{item}}</option>
                   </select>
                 </label>
                 <div ng-show="locationKey.length > 0 || universityKey.length > 0
                    || republicKey.length > 0 || description.length > 0" class="list card">
                    <a href="#" ng-show="locationKey.length > 0" class="item item-icon-left">
                      <i class="ion-clipboard"></i>
                       Cidade: {{locationKey}}
                    </a>
                    <a href="#" ng-show="universityKey.length > 0" class="item item-icon-left">
                      <i class="ion-university"></i>
                      Universidade: {{universityKey}}
                    </a>
                    <a href="#" ng-show="republicKey.length > 0" class="item item-icon-left">
                      <i class="ion-edit"></i>
                      República: {{republicKey}}
                    </a>
                    <a href="#" ng-show="description.length > 0" class="item item-icon-left">
                      <i class="ion-edit"></i>
                      Descrição: {{description}}
                    </a>
                  </div>
                 <button ng-click="deleteRoom(data)" class="button button-full icon-right button-assertive">
                   Excluir <i class="ion-android-checkbox-outline"></i>
                 </button>
               </div>
                <br />
              </form>
           </div>
         </ion-content>
       </ion-view>
    </ion-tab>
  </ion-tabs>
