<ion-view view-title="Quarto" align-title="left">
	<ion-content class="back-color padding">
		<h1 class="text-center">Quarto disponível</h1>
		<br />
		<div ng-controller="selectedRoomCtrl">
			<div class="list">
				<div class="item item-divider item-icon-left">
					<i class="icon ion-ios-home-outline"></i> 
					Quarto
				</div>
				<div class="item">
					Titulo: {{room.title}}
				</div>
				<div class="item">
					Descrição: {{room.description}}
				</div>
				<div href="#" class="item">
					Preço: {{room.price}}
				</div>
				<div href="#" class="item">
					Criado em: {{room.created_at}}
				</div>
				<div class="item item-divider item-icon-left">
					<i class="icon ion-map"></i>
					 Localização
				</div>
				<div class="item">
					Localização: {{room.key_locat}}
				</div>
				<div class="item">
					Perto de: {{room.key_uni}}
				</div>
				<div ng-show="room.address.length > 0" class="item">
					Adicional: {{room.address}}
				</div>
				<div ng-show="room.key_rep.length > 0" class="item">
					República: {{room.key_rep}}
				</div>
				<div class="item item-divider item-icon-left">
					<i class="icon ion-ios-person-outline"></i>
					 Proprietário
				</div>
				<div class="item">
					Proprietário: {{room.name_owner}}
				</div>
				<div class="item">
					Email: {{room.email_owner}}
				</div>
			</div>
			<br />
		</div>
	</ion-content>
	<div class="tabs tabs-icon-top tabs-color-positive">
		<a ng-click="openModal()" class="tab-item active">
			<i class="icon ion-android-chat"></i>
			 Entrar em contato
		</a>
	</div>
</ion-view>
<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-stable bluedark-color">
      <h1 class="title">
        Entre em contato com o proprietário  <i class="icon ion-close-round"></i>
      </h1>
    </ion-header-bar>
    <ion-content>
      <br />
      <h3 class="text-center">Gostou? <i class="icon ion-happy-outline"></i></h3>
      <h4 class="text-center">entre em contato com o proprietário!</h4>
      <br />
      <form name="selectedRoomFrm" novalidate="novalidate">
        <div class="list padding">
          <label class="item item-input">
            <span class="input-label">Assunto:
              <span ng-show="selectedRoomFrm.subject.$error.required || selectedRoomFrm.subject.$pristine || selectedRoomFrm.subject.$invalid" class="error">*</span>
             </span>
            </span>
            <input name="subject" ng-model="data.subject" type="text" required maxlength="40">
          </label>
          <label class="item item-input">
            <span class="input-label">Mensagem:
              <span ng-show="selectedRoomFrm.message.$error.required || selectedRoomFrm.message.$pristine || selectedRoomFrm.message.$invalid" class="error">*</span>
             </span>
            </span>
            <input type="text" name="message" ng-model="data.message" required maxlength="400" />
          </label>
          <br /><br />
          <div class="row">
            <div class="col">
            <button ng-click="sendContactEmail(data)" class="bluedark-color button button-block button-positive">
              Enviar <i class="ion-android-checkbox-outline"></i>
            </button>
            </div>
            <div class="col">
              <button class="button button-block button-stable" ng-click="closeModal()">
                Fechar <i class="ion-close"></i>
              </button>
            </div>
          </div>
          <br />
      </div>
    </form>
    </ion-content>
  </ion-modal-view>
</script>