<ion-view view-title="Universidade" align-title="left">
</ion-view>

<div ng-controller="universityCtrl">
  <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

    <ion-tab href="#/navUser/university" title="Home" class="bar-options" icon="icon ion-university">
      <ion-view>
         <ion-content>
           <div on-swipe-down="getLocationKeys()" ng-controller="universityCtrl">
             <form name="universityFrm" novalidate="novalidate">
               <br />
               <h1 class="text-center">Nova Universidade</h1>
               <br />
               <br />
                <div class="col text-center">
                 <button ng-click="getLocationKeys()" class="button icon ion-refresh">
                    Carregar Localizações
                  </button>
                </div>
                <br />
               <div class="list padding" ng-show="locationKeys.length > 0">
                 <label class="item item-input">
                   <span class="input-label">Nome:
                     <span ng-show="universityFrm.name.$error.required ||
                      universityFrm.name.$pristine || universityFrm.name.$invalid" class="error">*</span>
                      </span>
                   </span>
                   <input name="name" ng-model="data.name" type="text" required maxlength="40" ng-pattern="/^[\w -]*$/">
                 </label>
                 <label class="item item-input">
                   <div class="input-label">
                     Localização:
                     <span ng-show="universityFrm.locationKey.$error.required ||
                        universityFrm.locationKey.$pristine || universityFrm.locationKey.$invalid" class="error">*</span>
                     </span>
                   </div>
                   <input name="locationKey" ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off"
                       ng-model="data.locationKey" item-value-key="name" item-view-value-key="name" items-method="getFilterItems(query)"
                       items-method-value-key="items" placeholder="Digite a localização" max-selected-items="1" required />
                 </label>
                 <br /><br />
                 <button ng-click="createUniversity(data)" class="bluedark-color button button-block button-positive">
                   Cadastrar <i class="ion-android-checkbox-outline"></i>
                 </button>
                 <br />
               </div>
             </form>
           </div>
         </ion-content>
       </ion-view>
    </ion-tab>
    <ion-tab title="Settings" class="bar-options" icon="ion-ios-gear-outline">
      <ion-view>
         <ion-content>
           <div on-swipe-down="getUniversities()" ng-controller="universityCtrl">
             <form name="universityFrm" novalidate="novalidate">
               <br />
               <h1 class="text-center">Alterar Universidade</h1>
               <br />
               <br />
                <div class="col text-center">
                 <button ng-click="getUniversities()" class="button icon ion-refresh">
                    Carregar Faculdades
                  </button>
                </div>
                <br />
               <div class="list padding" ng-show="universitiesArray.length > 0">
                 <label  class="item item-input item-select" >
                   <div class="input-label">
                     Univerdade:
                   </div>
                   <select name="keyUni" ng-model="data.keyUni" ng-change="universitySelected(data)">
                        <option ng-repeat="item in universitiesArray">{{item}}</option>
                   </select>
                 </label>
                 <label class="item item-input">
                   <span class="input-label">Nome:
                     <span ng-show="universityFrm.name.$invalid" class="error">*</span>
                    </span>
                   </span>
                     <input name="name" ng-model="data.name" placeholder="{{name}}" type="text" maxlength="40" ng-pattern="/^[\w -]*$/">
                 </label>
                 <label class="item item-input">
                   <div class="input-label">
                     Localização:
                   </div>
                   <input name="locationKey" ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off"
                       ng-model="data.locationKey" item-value-key="name" item-view-value-key="name" items-method="getFilterItems(query)"
                       items-method-value-key="items" placeholder="{{locationKey}}" max-selected-items="1" required/>
                 </label>
                 <br /><br />
                 <button ng-click="updateUniversity(data)" class="bluedark-color button button-block button-positive">
                   atualizar <i class="ion-android-checkbox-outline"></i>
                 </button>
                 <br />
             </div>
           </form>
           </div>
         </ion-content>
       </ion-view>
    </ion-tab>
    <ion-tab title="Settings" class="bar-options" icon="icon ion-trash-b">
      <ion-view>
         <ion-content>
           <div on-swipe-down="getUniversities()" ng-controller="universityCtrl">
             <form name="removeUniversity" novalidate="novalidate">
               <br />
               <h1 class="text-center">Remover Universidade</h1>
               <br />
               <br />
                <div class="col text-center">
                 <button ng-click="getUniversities()" class="button icon ion-refresh">
                    Carregar Universidades
                  </button>
                </div>
                <br />
                <div class="row">
                  <div class="col">
                     <div class="list padding" ng-show="universitiesArray.length > 0">
                       <label  class="item item-input item-select" >
                         <div class="input-label">
                           Univerdade:
                         </div>
                         <select name="keyUni" ng-model="data.keyUni" ng-change="universitySelected(data)">
                              <option ng-repeat="item in universitiesArray">{{item}}</option>
                         </select>
                       </label>
                       <div ng-show="name.length > 0 || keyLocat.length > 0" class="list card">
                          <span ng-show="name.length > 0" class="item item-icon-left">
                            <i class="ion-university"></i>
                             Universidade: {{name}}
                          </span>
                          <span ng-show="locationKey.length > 0" class="item item-icon-left">
                            <i class="ion-map"></i>
                            Localização: {{locationKey}}
                          </span>
                        </div>

                       <button ng-click="deleteUniversity(data)" class="button button-full icon-right button-assertive">
                         Excluir <i class="ion-android-checkbox-outline"></i>
                       </button>
                       <br />
                  </div>
                </div>
             </div>
           </form>
           </div>
         </ion-content>
       </ion-view>
    </ion-tab>


  </ion-tabs>
</div>
